body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #5d7260;
  }

  html {
    scroll-behavior: smooth; 
  }